.slider {
  position: relative;

  button {
    position: absolute;
    font-size: 30px;
    top: 50%;
    background: white;
    border-radius: 10px;
    border: none;
    z-index: 1;
  }
}

.prev {
left: 10px;
}

.next {
right: 10px;
}
