<!-- home section -->
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-3"></div>
      <div class="col-md-7 col-sm-9">
        <h3>welcome to</h3>
        <h1>Onetel Design Studio</h1>
      </div>
    </div>
  </div>
</div>

<!-- divider section -->
<div class="divider">
  <div class="container">
    <div class="row">
     <app-card [cardData]="card" *ngFor="let card of cards"
               class="col-md-4 col-sm-6"></app-card>

    </div>
  </div>
</div>

<!-- about section -->
<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <img src="/assets/images/about-img.jpg" class="img-responsive" alt="about img">
      </div>
      <div class="col-md-6 col-sm-12 about-des">
        <h2>Startup Business</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
          Dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
          Dolore magna aliquam erat volutpat.</p>
        <a href="about.html" class="btn btn-default">LEARN MORE</a>
      </div>
    </div>
  </div>
</div>

<!-- portfolio section -->
<div id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 col-sm-12">
        <h2>Recent Projects</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
          Dolore magna aliquam erat volutpat.</p>
      </div>
    </div>
    <app-slider [images]="images"></app-slider>
    <div class="row mt30">
      <app-recent-project [url]="image" *ngFor="let image of images" class="col-md-4 col-sm-4 col-xs-6"></app-recent-project>
      <div class="col-md-12 col-sm-12">
        <a rel="nofollow" href="http://www.templatemo.com/tag/darkgray" class="btn btn-default">View More</a>
      </div>
    </div>
  </div>
</div>
